<div *ngIf="empleado !==null" class="card" style="margin-top: 30px">
<div class="card-header">
    <div class="row">
        <div class="col-6">
         
           <h1>{{ empleado.nombre }}</h1>

        </div>
        <div class="col-6">
          <div class="row">
              <div class="col-12">
                Busqueda : {{dataPreRoute.seleccion}}
              </div>
              <div class="col-12" *ngIf="dataPreRoute.departamento">
        
               <div [ngSwitch]="dataPreRoute.departamento">
                   <span *ngSwitchCase="'1'">Dep: IT</span>
                   <span *ngSwitchCase="'2'">Dep: DG</span>
                   <span *ngSwitchCase="'3'">Dep: FE</span>
                   <span *ngSwitchCase="'4'">Dep: IE</span>
               </div>

              </div>
              <div class="col-12" *ngIf="dataPreRoute.orden">
              Orden: {{ dataPreRoute.orden }}
            </div>
            <div class="col-12" *ngIf="dataPreRoute.name">
                    Name: {{ dataPreRoute.name }}
            </div>


          </div>
         
        
        </div>
    </div>
 

</div>       
<div class="card-body">

        <div class="card-columns flex1" width="100%">
                
                   
                   <div class="card flex2">
                 
                     <img class="card-img" [src]="empleado.fotoPath" alt="Card image cap">
                  
                     <ul class="list-group list-group-flush">
                     
                       <li class="list-group-item">Id: {{ empleado.id }}</li>
                       <li class="list-group-item">Nombre: {{ empleado.nombre }}</li>
                       <li class="list-group-item">Genero : {{ empleado.genero }}</li>
                       <li class="list-group-item">Email : {{ empleado.email}}</li>
                       <li class="list-group-item">Numero de Telefono: {{ empleado.numeroTelefono }}</li>
                       <li class="list-group-item">Fecha de Nacimiento : {{ empleado.fechaNacimiento }}</li>
                       <div    [ngSwitch]="empleado.departamento">
                           <li class="list-group-item" *ngSwitchCase="1">Departamento: IT</li>
                           <li class="list-group-item" *ngSwitchCase="2">Departamento: DG</li>
                           <li class="list-group-item" *ngSwitchCase="3">Departamento: FE</li>
                           <li class="list-group-item" *ngSwitchCase="4">Departamento: IE</li>
                       </div>
                       <li class="list-group-item">Esta Acctivo :{{ empleado.estaActivo }}</li>
                     </ul>
               
                 </div>
               
                 <div class="row justify-content-between">
                       <button class="btn btn-primary"  (click)="preEmpleado()">Empleado anterior</button>
                       <button class="btn btn-primary" (click)="nextEmpleado()">Empleado siguiente</button>
                   </div>
                   
                   <div class="row" style="margin-top: 40px">
                       <button class="btn  btn-secondary" (click)="navList()" >Back to list</button>
                   </div>
               
               
               </div> 

</div>    
</div>

<div style="margin-top : 30px" *ngIf="error">{{ error }}</div>



   





