.contenedor {
    width :100%;
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.child {
    width: 70%;
    height: 70%;
    background-color: black;
    color: white;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.grand-child p{
   text-align: justify;
   text-transform: uppercase;
}

.grand-child {
        width: 70%;
        

}

