<div class="row justify-content-center align-items-center" style="height : 100vh">


<div class="cont col-12 col-md-6">
<form #adminForm="ngForm" (ngSubmit)="save()"
  (keydown.enter)="$event.preventDefault()">
  
  <div class="form-group">
    <label for="user">Admin</label>
    <input  required [(ngModel)]="credenciales.usuario" type="text" class="form-control" id="user" 
    name="user" [ngClass]="{'borderRed': user.invalid && user.touched }" #user="ngModel">
    <span *ngIf="user.invalid && user.touched">
      Usuario requerido
    </span>
  </div>
  
  <div class="form-group">
    <label for="pass">Password</label>
    <input required type="password" [(ngModel)]="credenciales.password"  class="form-control" id="pass"
    name="pass" [ngClass]="{'borderRed': pass.invalid && pass.touched }" #pass="ngModel">

     <span *ngIf="pass.invalid && pass.touched">
      Password requerido
    </span>
  </div>
 <div *ngIf="show"class="advertencia col-12">Admin o Password  incorrecto</div>
  <br>
  <button type="submit" class="btn btn-light" [disabled]="adminForm.invalid">Submit</button>
</form>


<div class="capucha"  [ngClass]="{ 'addClass' :showData}">
   <div class="centro">
     <button type="button" (click)="showForm()"
     >SIGN IN</button>
   </div>
</div>

<div class="close" (click)="showForm()"><i class="fa fa-window-close"></i></div>
</div>

</div>



   