<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" alt="" widht="60px" height="40px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav justify-content-between" style="width: 100%">
        <div class="izquierda">

        <a class="nav-item nav-link active" routerLink="/lista">Lista <span class="sr-only">(current)</span></a>
        <a  class="nav-item nav-link" routerLink="/display">Display Info</a>
        <a *ngIf="updatePass.adminActive" class="nav-item nav-link"  routerLink="/edit/0">Update Empleado</a>
        
        </div>
        <div class="derecha">
        <a  *ngIf="!updatePass.adminActive" class="nav-item nav-link"  routerLink="/login">Sign Up</a>
        <li *ngIf="updatePass.adminActive" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="$event.preventDefault()" routerLink="/updatePass">Update Pass</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#"(click)="signOut();$event.preventDefault()">Sign Out</a>
        </div>
        </li>
      
        </div>
     
        
        
      </div>
    </div>
  </nav>

<div class="container" style="padding-top: 60px">
   <div *ngIf="loadingIndicador" class="spinner"></div>
    <router-outlet></router-outlet>
</div>

