.flex1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.flex2{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
ul {
    width: 80%;
    height: 60px;

}

img{
    width: 20%;
    height: 120px;
}

.insert {
    background-color:  #2F365F;
    color: aliceblue;
}

.bt{
    width: 80px;
 }

 @media screen and (min-width: 990px) {
    .bt {
      width: 150px;
    }
  }







