<div class="row justify-content-center"style="margin-top: 30px">

<div class="card col-12 col-md-8 preset" *ngIf="empleado">
  <div class="card-header">{{ _titulo }}</div>
  <div class="card-body text-primary">
      <form #empleadoForm="ngForm" (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">
          <div class="form-group">
            <label for="fullName">Nombre completo* :</label>
            <input required type="text" class="form-control" id="nombre" 
            name="nombre" [(ngModel)]="empleado.nombre" #nombre="ngModel"
            [ngClass]="{'border-red' : nombre.invalid && nombre.touched }">
            <span *ngIf="nombre.invalid && nombre.touched">
                Nombre requerido
            </span>
  
          </div>

          <div class="form-group">
            <label>Preferencia de contacto* :</label>
            <div class="form-control"    [ngClass]="{ 'border-red' : contactPreferencias.invalid && contactPreferencias.touched}">
              <label class="radio-inline" style="padding-right: 10px">
                <input type="radio" name="contactPreferencias" value="telefono"  [(ngModel)]="empleado.contactPreferencias" #contactPreferencias="ngModel">
                Telefono
              </label>
              <label class="radio-inline">
                <input required type="radio" name="contactPreferencias" value="email" [(ngModel)]="empleado.contactPreferencias" #contactPreferencias="ngModel">
                email
              </label>
              <span *ngIf="contactPreferencias.invalid && contactPreferencias.touched">
                Preferencias de contacto es requerido
             </span>   
            </div>
            </div>
            <div *ngIf="(empleado.contactPreferencias === 'email' || empleado.contactPreferencias === 'telefono')">
                    <div class="form-group"  >
                            <label for="email">Direccion de Email~ :</label>
                            <input 
                            pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                            [required]="empleado.contactPreferencias === 'email'"  type="email" class="form-control" id="email" aria-describedby="emailHelp" 
                            name="email" [(ngModel)]="empleado.email" #email="ngModel"
                            [class.border-red]="email.invalid && email.touched ">
                            
                            <span  *ngIf=" empleado.contactPreferencias === 'email' && email.errors?.required && email.touched">
                                Email requerido
                            </span>
                            <span  *ngIf="email.errors?.pattern && email.touched">
                                Email invalido
                            </span>
                            <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu email con nadie!!</small>
                        </div>
                        <div class="form-group">
                          <label for="tel">Numero de telefono~ :</label>
                          <input  [required]="empleado.contactPreferencias ==='telefono'" pattern="^[0-9]\d*$" type="text" class="form-control" id="tel"  
                          name="numeroTelefono" [(ngModel)]="empleado.numeroTelefono" #numeroTelefono="ngModel"
                          [class.border-red]="numeroTelefono.errors?.pattern && numeroTelefono.touched">
                         <span *ngIf="numeroTelefono.errors?.pattern && numeroTelefono.touched">
                             Numero invalido
                         </span>
                         <span  *ngIf="empleado.contactPreferencias === 'telefono' && numeroTelefono.errors?.required && numeroTelefono.touched">
                          Numero requerido
                      </span>
                  
                          <small class="form-text text-muted">Nunca compartiremos tu telefono con nadie!!</small>
                          
                        </div>
               
            
            </div>
     
          <div class="form-group" >
            <label>Genero* :</label>
            <div class="form-control" [ngClass]="{ 'border-red': genero.invalid && genero.touched}">
              <label class="radio-inline" style="padding-right: 10px">
                <input required type="radio" name="genero" value="mujer"  [(ngModel)]="empleado.genero" #genero="ngModel">
                Mujer
              </label>
              <label class="radio-inline">
                <input required type="radio" name="genero" value="hombre" [(ngModel)]="empleado.genero" #genero="ngModel">
                Hombre
              </label>
              <span *ngIf="genero.invalid && genero.touched">
                Genero es requerido
             </span> 
            </div>
          </div>    
          <div class="form-control"[ngClass]="{'border-red': estaActivo.invalid &&  estaActivo.touched}" >
              <label class="checkbox-inline" >
                <input  [required]="empleado.estaActivo==null"  type="checkbox" name="estaActivo" [(ngModel)]="empleado.estaActivo" #estaActivo="ngModel"> Esta activo 
              </label>
              <span *ngIf="estaActivo.errors?.required &&  estaActivo.touched">
                  Esta opcion es   requerida
              </span>
          </div>
          
          <div class="form-group" >
              <label for="dep">Departamento* :</label>
              <select  required name="departamento" id="departamento" class="form-control" [(ngModel)]="empleado.departamento" #departamento="ngModel"
              [ngClass]="{'border-red' : departamento.invalid &&  departamento.touched}"
              appSelectValidator="-1">
                <option value="-1">Select Department</option> 
                <option *ngFor="let dep of listaDep" [value]="dep.id">{{ dep.name }}</option>
        
              </select>
            <span *ngIf=" departamento.invalid &&  departamento.touched">
                Departamento requerido
            </span> 
          </div> 
          <div class="row align-items-end">
                <div class="col-12 col-sm-8 col-md-3  form-group">
                    <label for="fecha">Fecha de Nacimiento* :</label>
                    <input
                        required
                        name="fechaNacimiento"
                        [(ngModel)]="empleado.fechaNacimiento"
                        placeholder="Select"
                        class="form-control"
                        bsDatepicker
                        #dp="bsDatepicker"
                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-dark-blue' }"
                        #fechaNacimiento="ngModel">
               </div>
                <span *ngIf="fechaNacimiento.errors?.required && fechaNacimiento.touched">
                  Opcion Date es requerida
               </span>
                <div class="form-group col-12 col-sm-4 col-md-9 ">
                    <button class="btn btn-info" (click)="$event.preventDefault();dp.toggle()" [attr.aria-expanded]="dp.isOpen">Date Picker</button>
                </div>
          </div>
             
          <div class="form-group">
              <label for="fotoPath">Direccion de foto : </label>
              <input [required]="false" id="fotoPath" type="text" class="form-control"
                      name="fotoPath" [(ngModel)]="empleado.fotoPath"
                      #photoPath="ngModel">
          </div>
          <div  *ngIf="empleado.fotoPath !== null && empleado.fotoPath !== ''">
              <div class="form-group">
                  <img *ngIf="previewPhoto" [src]="empleado.fotoPath"  height="200" width="200"/>
              </div>
    
              <div class="form-group">
                  <button (click)="togglePhotoPreview(); $event.preventDefault()" class="btn btn-primary">
                    Preview Foto: {{ previewPhoto ? "Esconder" : "Mostrar" }}
                  </button>
              </div>

          </div>
        
      
          <button type="submit" class="btn btn-primary" [disabled]="empleadoForm.invalid">Save</button>
        </form>
  </div>
</div>



</div>

<!--
<div class="">
  <div class="">
      <h3>Form model</h3>
      <p>{{ empleadoForm.value | json}}</p>
  </div>

  <div class="">
    <h3>Empleado Model </h3>
      <p>{{ empleado | json }}</p>
  </div>
 
</div>
-->






