  <div class="row">
    <div class="col-6">
        <div class="form-group" style="margin-top: 50px">
            <label for="dep" class="color">Opcion de busqueda</label>
            <select  [(ngModel)]="seleccion" name="busqueda" id="busqueda" class="form-control">
              <option value="all">todos los Usuarios</option> 
              <option value="dep"> filtrar por departamento</option> 
              <option value="name">filtrar por nombre</option> 
            </select>
        </div>
        
    </div>
    <div class="col-6">

            <div class="vista">
              
              <div class="form-group" style="margin-top: 50px">   
                  <label for="orden" class="color">Orden:</label>
                  <div class="form-control" >              
                      <label class="radio-inline" style="margin-right: 10px">
                        <input type="radio" name="orden" value="ascendente"  [(ngModel)]="orden">
                        A-Z
                      </label>
                      <label class="radio-inline">
                        <input  type="radio" name="orden" value="descendente" [(ngModel)]="orden">
                        Z-A
                      </label>
             </div>
           </div>
            </div>    
         <div class="vista" *ngIf="seleccion === 'dep'">
            
          <div class="form-group" style="margin-top: 20px">
            <label for="dep" class="color">Departamento: </label>
            <select [(ngModel)]="departamento" name="busqueda" id="busqueda" class="form-control">
              <option value="1">IT</option> 
              <option value="2">DG</option> 
              <option value="3">FE</option> 
              <option value="4">IE</option>
            </select>
       
          </div>
        </div>
       
       <div class="vista" *ngIf="seleccion === 'name'">
          <div class="form-group"  style="margin-top: 20px">
              <label  class="color" for="formGroupExampleInput">Nombre: </label>
              <input [(ngModel)]="name" type="text" class="form-control" id="formGroupExampleInput">   
          </div>
        </div>

    </div>
  </div>
  
<div class="card" style="margin-top: 10px">
  <div class="card-header" style="background-color: #191E38; color:azure"><h3>LISTA DE EMPLEADOS</h3></div>

    <div class="card-body"> 
                
          <app-empleado-detail 
           *ngFor="let empleado of returnedArray"
            (deleteData)="deleteEmpleado($event)" 
            (EditData)="rutaEdit($event)" 
            (sendData)="changeRuta($event)"  
            [passEmpleado]="empleado">
          </app-empleado-detail>
          <pagination  [(ngModel)]="currentPage" [totalItems]="functionBuffer().length" (pageChanged)="pageChanged($event)"></pagination>
                
      </div>
 </div>   
 <div *ngIf="error">
  {{ error }}
</div> 

    



